
html{height: 100%;}
body{
	height: 100%;
	font: 13px/16px Arial, Tahoma, sans-serif;
	color: #000;
	background: #fff;
}

ol,ul{list-style: none;}

*{
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

a, a:hover{color: #000; text-decoration:  none;}

.wrapper {
	max-width: 1250px;
	width: 100%;
	padding: 0 40px;
	margin: 0 auto;
}

.title-block{
	margin-top: 20px;
	margin-bottom:20px;
	font-size: 14px;
    line-height: 25px;
    font-weight: bold;
    color: #2e6ed5;
    text-transform: uppercase;
}
.wrap-block{
	display: flex;
	justify-content: space-between;

}
/*//////////// PRDUCT BLOCK ////////////*/
.prod-block{
	width: 24%;
	height: 100%;
	padding: 0 18px;
	border: 1px solid #ebebeb;
}

.prod-block:hover .quick-view__btn {
	opacity: 1;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.prod-name{
	margin: 20px 0 10px 0;
}
.prod-name__title{
	color: #2e6ed5;
	font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.35;
    margin: 0 0 5px;
}
.prod-name__title:hover{
	text-decoration: underline;
	color: #2e6ed5;
}
 .prod-star{
 	width: 90px;
 	height: 15px;
 	margin: 10px 0;
 	background: url(../img/star.png) repeat-x;
 }

 .prod-star__ithem {
 	height: 100%;
 	background: url(../img/star1.png) repeat-x;
 }
 .prod-img{
 	position: relative;
 }
 .prod-img img{
 	max-width: 100%;
 	height: auto;
 }
 .prod-sale{
 	position: absolute;
 	padding: 0 10px;
 	background: #f26522;
    color: #ffffff;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    z-index: 99;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
 }
 /*---------BTN-----------*/
 .quick-view__btn{
 	position: absolute;
 	top: 50%;
    left: 50%;
	margin: 0;
	 padding: 13px 20px;
	background-color: #2e6ed5;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
     -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    opacity: 0;
 }
 .quick-view__btn:hover{
 	background-color: #17a2b8;
 }
 /*---------PRICE-----------*/
 .prod-price{
 	display: inline-block;
 	margin-bottom: 15px;
 	font-size: 18px;
 }
 .old-prise{
 	color: #999;
 	text-decoration: line-through;
 }
 .new-prise{
 	margin-left: 7px;
 	color: #2e6ed5;
 }
 /*---------count----------*/
 .count-wrapp{
 	display: flex;
 	justify-content: space-between;
 	flex-wrap: wrap;
 	width: 100%;
 	max-width: 100%;
 	margin-top: 20px;
    margin-bottom: 20px;
    background: #f1f1f1;
    border: 1px solid #ebebeb;
 }
 .count-box{
 	display: flex;
 	flex-direction: column;
 	padding: 10px 10px;
 	text-align: center;
 	background: #f1f1f1;
 }
 .count-num{
 	color: #111;
 	font-size: 18px;
 	font-weight: bold;
 }

 .count-title{
 	margin-top: 5px;
 	font-size: 18px;
 	font-weight: 500;
 	color: #2e6ed5;
 	text-transform: capitalize;
 }