body {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
}
li{
    list-style: none;
}
.ic{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
}
.menu-btn {
	display: none;
}
.mob-nav{
    display: none;
}
.show-modal{
    display: block;
}
.hide-modal{
    display: none;
}
/* modal */
.modal-window__wrapp{
    width: 50vw;
    height: 40vw;
position: absolute;
margin: 0 auto;
top: 11%;
left: 0;
right: 0;
background-color:#fcf5f3;
border-radius: 25px;
z-index: 9999;
}
.modal-txt{
    margin: 0 auto;
padding: 2vw 5vw;
}
.modal-txt h5{
    margin-bottom: 1vw;
    font-size: 20px;
    text-align: center;
}
.modal-inp{
    border: 0;
padding: 20px 30px;
border-radius: 25px;
margin: 10px 0;
z-index: 999;
color: #989797;
}
select{
    -webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
appearance: none;
background: url('/img/path.png') no-repeat 22vw center;
background-color:#fff;
outline: 0;
cursor: pointer;
}
.modal-over{
    position: relative;
    top: -20vw;
    left: -1vw;
    height: 23vw;
}
.modal-close{
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
    margin-top: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
    color: #c3c4c7;
}
.modal-btn{
    border: 0;
background-color: #f7aeb0;
color: #fff;
padding: 20px 30px;
border-radius: 25px;
margin: 10px 0;
z-index: 999;
-webkit-box-shadow: 0px 6px 5px 0px rgba(215,116,123,1);
-moz-box-shadow: 0px 6px 5px 0px rgba(215,116,123,1);
box-shadow: 0px 6px 5px 0px rgba(215,116,123,1);

}
.modal-btn img{
    position: absolute;
    width: 11vw;
    right: 20%;
    bottom: 15%;
}
.modal-form__wrapp{
    display: flex;
flex-direction: column;
width: 50%;
margin: 0 auto;
}

/* end modal */
.first-block{
    height: 60vw;
    background-image: url(/img/1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.paralax1{
    position: fixed;
    right: 0;
    top: 112px;
    width: 7%;
    height: 646px;
    background-image: url(../img/paralax1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 70%;
    top: -70%;
    background-attachment: inherit;
    z-index: 0;
}
.paralax2{
    position: fixed;
    right: 80%;
    width: 30%;
    height: 646px;
    background-image: url(../img/paralax2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    top: 0;
    z-index: 0;
}
.wrapper {
    max-width: 90vw;
	width: 100%;
	margin: 0 auto;
}
header{
    display: flex;
    padding-top: 2vw;
    z-index: 999;
    position: relative;
}
.logo{
    width: 30vw;
    display: flex;
}
.logo img{
    width: 15vw;
}
.logo-txt{
    display: flex;
    align-items: center;
    margin-left: 2vw;
}
.map-header__wrapp{
    display: flex;
    align-items: center;
    width: 23vw;
}
.map-header__txt {
    margin-left: 1vw;
}
.map-header__txt a{
    margin-top: 1vw;
}
.map-header__link{
    margin-top: 1vw;
}
.map-header__link a{
    color: #ff6078;
}
.header-map{
    position: absolute;
    margin-top: 1.5vw;
    z-index: 9999;
}
.hide{
    display: none;
}
.header-phone__wrapp{
    width: 20vw;
}
.header-phone{
    display: flex;
    align-items: center;
}

.modal-btn__wrapp{
    display: flex;
    align-items: center;
}

.ic-btn{
    width: 30px;
    height: 25px;
    background-image:url(/img/ic-modal.png);
    background-repeat:no-repeat;
}
.modal-btn__wrapp a{
    background-color: #fff;
    padding: 19px 23px;
    border-radius: 2vw;
    -webkit-box-shadow: 2px 11px 5px -4px rgba(235,234,234,1);
-moz-box-shadow: 2px 11px 5px -4px rgba(235,234,234,1);
box-shadow: 2px 11px 5px -4px rgba(235,234,234,1);
}
/* nav */
.nav ul{
    display: flex;
    justify-content: space-between;
    
}
.nav{
    padding: 25px 30px;
    background-color:#fff;
    margin-top: 2vw;
}

.nav-active{
    color: #000;
    font-weight: 600;
}
/* end nav */

/* content */
.left-content{
    position: absolute;
    width: 45vw;
    margin-left: 7vw;
    margin-top: 3vw;
}
.left-content__title{
    font-size: 35px;
    margin-bottom: 3vw;
}
.ic-left__cont{
    width: 40px;
height: 40px;
    background-image:url(/img/10.png)
}
.content-btn{
    width: 24vw;
    display: flex;
align-items: center;
    border: 0;
    background-color: #f7aeb0;
    color: #fff;
    padding: 20px 30px;
    border-radius: 25px;
    margin: 10px 0;
    font-size: 14px;
    z-index: 999;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(215,116,123,1);
    -moz-box-shadow: 0px 6px 5px 0px rgba(215,116,123,1);
    box-shadow: 0px 6px 5px 0px rgba(215,116,123,1);
}
.content-btn img{
    position: absolute;
    width: 30%;
    left: 38%;
    
}
.right-content{
    position: absolute;
    bottom: 0;
    right: 0;
    top: 112px;
    
    width: 822px;
    height: 646px;
    background-image: url(../img/girl.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 70%;
}

.ctnter-content__card img{
    width: 10vw;
position: absolute;
bottom: 14%;
left: 10%;
}

.center-content-txt{
    width: 10vw;
position: absolute;
bottom: 16%;
left: 26%;
background-color: #fff;
padding: 15px;
border-radius: 15% 15% 6% 6%;

-webkit-box-shadow: 10px -14px 5px 0px rgba(0,0,0,0.06);
-moz-box-shadow: 10px -14px 5px 0px rgba(0,0,0,0.06);
box-shadow: 10px -14px 5px 0px rgba(0,0,0,0.06);
}
.center-info-icon img{
    width: 5vw;
    position: relative;
    right: 22%;
bottom: 22%;
}
.hide-txt{
    display: none;
}
.pulse{
    position: absolute;
    bottom: 14%;
    left: 23%;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    animation: animate 3s linear infinite;
}

@keyframes animate{
    0%{
        box-shadow: 0 0 0 0 rgba(255,109,74,.7),0 0 0 0 rgba(255,109,74,.7);
    }
    40%{
        box-shadow: 0 0 0 10px rgba(255,109,74,0),0 0 0 0 rgba(255,109,74,.7);;
    }
    80%{
        box-shadow: 0 0 0 10px rgba(255,109,74,0),0 0 0 15px rgba(255,109,74,0);;
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0),0 0 0 15px rgba(255,109,74,0);;
    }
}
.block-txt{
    background-color:#ffff;
    z-index: 999;
}

@media screen and (max-width: 991px){
    .paralax2,.paralax1{
        display: none;
    }
    header {
        display: flex;
        padding-top: 2vw;
        z-index: 999;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo {
        width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .map-header__wrapp {
        display: flex;
        align-items: center;
        width: 50%;
    }
    .header-phone__wrapp {
        width: 34%;
    }
    /* menu */
    .nav-desk{
        display: none;
    }
    .mob-nav{
        display: block;

    }
    .menu{
        display: none;
    position: absolute;
    right: 12%;
    top: 10%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    z-index: 9999;
    }
    	/*btn-nav*/
.menu-btn {
	position: absolute;
  top: 30px;
  right: 20px;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  z-index: 9999;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active{
	background-color: #000;
	color: #fff;
	transition: all .3s;
}
.menu-btn_active span{
	 background-color: #fff;
}
.menu-btn_active span:before {
  transform: rotate(-35deg);
  width: 10px;
  transform-origin: left bottom;
  background-color: #fff;
}
.menu-btn_active span:after {
  transform: rotate(35deg);
  width: 10px;
  transform-origin: left top;
  background-color: #fff;
}

.menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-content {
    position: absolute;
    width: 40%;
    margin-left: 0;
    margin-top: 10px;
}
.right-content{
    background:none;
}
    .first-block {
        height: 100vw;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .left-content {
        position: static;
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }
    .content-btn {
        width: 50%;
        display: flex;
        align-items: center;
        border: 0;
        background-color: #f7aeb0;
        color: #fff;
        padding: 20px 30px;
        border-radius: 25px;
        margin: 0 auto;
        font-size: 14px;
        z-index: 999;
        -webkit-box-shadow: 0px 6px 5px 0px rgba(215,116,123,1);
        -moz-box-shadow: 0px 6px 5px 0px rgba(215,116,123,1);
        box-shadow: 0px 6px 5px 0px rgba(215,116,123,1);
        z-index: 9999;
        position: relative;
    }
    .content-btn img {
        display: none;
    }

    .center-content-txt {
        width: 18%;
position: absolute;
bottom: 0;
left: 38%;
background-color: #fff;
padding: 15px;
border-radius: 15% 15% 6% 6%;
-webkit-box-shadow: 10px -14px 5px 0px rgba(0,0,0,0.06);
-moz-box-shadow: 10px -14px 5px 0px rgba(0,0,0,0.06);
box-shadow: 10px -14px 5px 0px rgba(0,0,0,0.06);
    }
    .pulse {
        position: absolute;
bottom: 0;
left: 36%;
width: 3vw;
height: 3vw;
border-radius: 50%;
animation: animate 3s linear infinite;
    }
    .ctnter-content__card img {
        width: 15vw;
        position: absolute;
        bottom: 0%;
        left: 20%;
    }

    .modal-window__wrapp {
        width: 90%;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        top: 11%;
        left: 0;
        right: 0;
        background-color: #fcf5f3;
        border-radius: 25px;
        z-index: 99999;
    }
    .header-map iframe{
        width: 100%;
        height: 200px;
    }
    .first-block {
        background-size: auto;
    }

 

}

@media screen and (max-width: 738px){
    .center-content-txt,.pulse{
        left:60%;
    }
    .ctnter-content__card img{
        left: 50%;
    }
}