body {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	line-height: 1;
}
.wrap-calc {
	max-width: 820px;
	width: 100%;
	padding: 12px 24px;
    margin: 0 auto;
    background-color: #212121;
    color: #fff;
}
.title-calc{
    padding-top: 12px;
padding-bottom: 18px;
display: block;
text-align: center;
font-size: 21px;
}
.field-body{
    padding-top: 12px;
padding-bottom: 18px;

}
.field-input{
    width: 100%;
}
.title__filed-input{
font-size: 19px;

}
.field-body input,.field-body select{
    width: 100%;
    border-radius: 0;
font-size: 14px;
padding: 0 0 5px 0;
background: 0 0;
border: none;
 border-bottom-color: currentcolor;
border-bottom-style: none;
border-bottom-width: medium;
border-bottom: 2px solid#6a6e75;
color:#73818c;
-webkit-transition: all .3s ease;
transition: all .3s ease;
}
.field-body input:focus{
    border-bottom: 2px solid #f44336;
    outline:none;
   
}
.field-body select{
    background-color:#212121;
    outline:none;
    cursor: pointer;
}
.field-body select:focus{
    outline:none;
}
.first-result{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #404040;
    font-size: 25px;
    padding: 10px 10px;
}
.calc-txt{
    padding: 10px 10px;
}

.second-result{
    font-size: 15px;
}