html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border:0;
	font-size: 100%;
	font:inherit;
	vertical-align: baseline;
}


html{height: 100%;}
body{
	height: 100%;
	 font-family: 'Open Sans', sans-serif;
	 font-size: 14px;
	color: #000;
}
@font-face{
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format("embedded-opentype"),
         url('../fonts/OpenSans-Regular.woff') format("woff"),
         url('../fonts/OpenSans-Regular.ttf') format("truetype"),
         url('../fonts/OpenSans-Regular.svg#JournalRegular') format("svg");
}
ol,ul{list-style: none;}

*{
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;

}
textarea{
	resize: none;
}
a, a:hover{color: #000; text-decoration:  none;}

.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
}

.clearfix:after{clear: both;}

.left{float: left;}
.right{float: right;}
.text-right{text-align: right;}


.navbar{
	border-radius: 0;
}
.navbar-inverse .navbar-nav > li > a{
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}
.navbar-brand{
	color: #fff;
}
.logo{
	font-size: 35px;
	text-transform: uppercase;
	color: #fff;
}
.contact-btn{
	margin-top: 4px;
	float: right;
}
.contact-btn button{
	padding: 10px 20px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 4px;
	color: #fff;
}
.dropdown{
	text-transform: uppercase;
	font-size: 14px;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -100%;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}
@media screen and (max-width: 767px){
	.dropdown-submenu > a::after {
		display: none;
 }
 .responsive-link-drop{
 	color: #960014!important;
 }
 .divider{
 	display: none;
 }
 .rexponsive_drop{
 	font-size: 11px;
 }
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.dropdown-menu > li > a{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 100px;
}

.carousel-caption{
	bottom: 20%;
}
.carousel-caption h3{
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: bold;
}
.carousel-caption p{
	font-size: 20px;
}
.btn_content{
	margin-top: 30px;
	margin-right: 30px;
	padding: 15px 40px;
	background: transparent;
	border: 2px solid #fff;
	border-radius: 4px;
}
.btn_content:hover{
	background-color: #4ec67f;
	border: 2px solid #4ec67f;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
 /* max-width: 100%;*/
  height: auto;
}

footer{
	background-color: #f2f2f2;
}
.footer_content{
	padding-top: 60px;
}
.footer_content h4{
	padding-bottom: 25px;
	border-bottom: 1px solid #dddddd;
	font-weight: bold;
	text-transform: uppercase;
}
.footer_content p{
	padding-top: 25px;
}
.footer_contacnts{
	display: flex;
	flex-direction: column;
}
.footer_contacnts{
	padding-top: 25px;
}
.footer_contacnts a{
	padding-bottom: 20px;
	padding-left: 10px;
}
.footer_contacnts a:hover{
	text-decoration: underline;
}

.footer_contacnts-item{
	display: flex;
	flex-direction: row;
}
.footer__info-link{
	padding-top: 25px;
	display: flex;
	flex-direction: column;
}
.footer__info-link a{
	padding-bottom: 20px;
}
.footer__info-link a:hover{
	color: #64cc8e;
}
.foooter-bottom{
	
	padding-bottom: 25px;
	padding-top: 25px;
	background-color: #e3e3e3;
}
.foooter-bottom-contant{
	display: flex;
	justify-content: space-between;
}
.licency{
	padding-top: 10px;
	display: flex;
	justify-content: flex-start;
}
.footer_social{
	display: flex;
	justify-content: flex-end;
}
.footer_social a{
	margin-right: 5px;
	padding: 9px 15px;
	background-color: #b5b5b5;
	 -webkid-border-radius: 50%;
	   -moz-border-radius: 50%;
	     -o-border-radius: 50%;
	        border-radius: 50%;
}
.ic-icon{
	width: 10px;
	height: 10px;
}
.footer_social a:hover{
	background-color: #424242;
	color: #fff;
}
@media screen and (max-width: 550px){
	.foooter-bottom-contant{
	flex-direction: column;
 }
 .licency{
	justify-content: center;
}
.footer_social{
	margin-top: 10px;
	justify-content: center;
 }
}
/*modal*/
.modal-title{
	margin-bottom: 30px;
	font-size: 24px;
	color: #424242;
	text-transform: uppercase;
	text-align: center;
}
.modal-descr{
	color: #bdbdbd;
	text-align: center;
}
.modal-checkbox{
	display: flex;
}
/*.modal-check{
	position: relative;
	top: -10px;
}
*/.modal_radio-link{
	float: right;
	font-size: 12px;
	color: #bdbdbd;
	text-decoration: underline;
	padding-left: 10px;
}
.modal_foote-btn{
	margin-top: 10px;
	text-align: center;
	padding-bottom: 30px;
}
.modal-btn{
	width: 100%;
	margin-top: 10px;
	padding-bottom: 35px;
    padding-top: 12px;
}
.text-danger{
	color: #960014;
}